<!DOCTYPE html>
<html>
    <head>
        <title>EduSite</title>
    </head>
    <body>
        <h1>Welcome to EduSite</h1>
        <p>
            {% if current_user.is_authenticated %}
                <a href="logout"><button>Logout</button></a><br>
                <a href="account">Your account details</a>
            {% else %}
                <a href="login"><button>Login</button></a><br><br><br>
                new user?<br>
                <a href="signup"><button>Sign up</button></a><br>
            {% endif %}
        </p>
    </body>
</html>